@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/themes/lara-light-teal/theme.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeflex/primeflex.css");

html,
body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 12px;
	color: #1e1e1e;
	margin: 0;
}

.toda-table {
	padding: 2em;
	margin-top: .5em;
}