<div class="toda-table">
  <form (ngSubmit)="pesquisar()">
    <div class="grid">
      <div class="col-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="col-12 p-fluid">
        <label>Descrição</label>
        <input pInputText name="descricao" [(ngModel)]="descricao" type="text">
      </div>

      <div class="col-12">
        <label class="block" id="vencimento">Vencimento</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" name="vencimentoDe" [(ngModel)]="vencimentoDe"></p-calendar>

        <label class="label" id="ate">até</label>
        <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" name="vencimentoAte"
          [(ngModel)]="vencimentoAte"></p-calendar>
      </div>

      <div class="col-12">
        <button pButton class="mr-2" type="submit">Pesquisar</button>
        <button *ngIf="authService.temPermissao('ROLE_CADASTRAR_LANCAMENTO')" routerLink="/lancamentos/novo"
          class="end-buttons" pButton type="button">Novo</button>
      </div>
    </div>
  </form>

  <div class="grid">
    <div class="col-12 p-fluid">
      <p-table #tabela [value]="this.response.content" [lazy]="true" [responsive]="true" [paginator]="true"
        [rows]="this.ITENS_POR_PAGINA" [totalRecords]="this.response.totalElements"
        (onLazyLoad)="aoMudarDePagina($event)">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-valor-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>
              <span class="p-column-title">Pessoa</span>
              {{ lancamento.pessoa?.nome }}
            </td>
            <td>
              <span class="p-column-title">Descrição</span>
              {{ lancamento.descricao }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Vencimento</span>
              {{ lancamento.dataVencimento | date:'dd/MM/yyyy' }}
            </td>
            <td class="col-data">
              <span class="p-column-title">Pagamento</span>
              {{ lancamento.dataPagamento | date:'dd/MM/yyyy'}}
            </td>
            <td class="col-valor-content">
              <span class="p-column-title">Valor</span>
              <span [ngStyle]="{color: lancamento.tipo == 'DESPESA' ? 'red'  : 'blue'}">
                {{lancamento.valor | currency:'R$' }}
              </span>
            </td>
            <td class="col-acoes">
              <span class="p-column-title">Editar/Excluir</span>
              <button class="mr-2" [disabled]="!authService.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"
                [routerLink]="['/lancamentos', lancamento.id]" pButton pTooltip="Editar" tooltipPosition="top"
                icon="pi pi-pencil"></button>
              <button pButton pTooltip="Excluir" [disabled]="!authService.temPermissao('ROLE_CADASTRAR_LANCAMENTO')"
                (click)="confirmarExclusao(lancamento.id)" tooltipPosition="top" icon="pi pi-trash"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
