@media (min-width: 960px) {
  .container {
    width: 930px;
    margin: 0 auto;
  }
}

.label {
  margin: 0.5em;
}

.toda-table {
  padding: 2em;
  margin-top: .5em;
}

.tabela th {
  font-weight: bold;
}

.col-acoes {
  text-align: center;
  justify-content: space-between;
}
