@media (min-width: 960px) {
  .container {
    width: 930px;
    margin: 0 auto;
  }
}

.label {
  margin: 0.5em;
}

.toda-table {
  padding: 2em;
  margin-top: .5em;
}

.tabela-border {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-radius: .4em;
}

.col-valor-content {
  text-align: right;
}

.col-data-content {
  text-align: center;
}

.col-acoes {
  text-align: center;
}

.col-acoes a {
  margin-right: .2em;
}

.tabela th {
  font-weight: bold;
}
