<div >
  <div class="col-12 p-fluid">
    <p-table [value]="this.elements" [lazy]="true" [responsive]="true" [paginator]="true" [rows]="this.itens"
      [totalRecords]="this.totalElements" (onLazyLoad)="aoMudarDePagina($event)">
      <!--  -->
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let column in columns">{{ column }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td *ngFor="let column in columns">
            <span class="p-column-title">{{ column | titlecase }}</span>
            {{ element[column].value }}

          </td>
          <td>
            <span class="p-column-title">Pessoa</span>
          </td>
          <td>
            <span class="p-column-title">Descrição</span>
            {{ element.descricao }}
          </td>
          <td class="col-data">
            <span class="p-column-title">Vencimento</span>
            {{ element.dataVencimento | date:'dd/MM/yyyy' }}
          </td>
          <td class="col-data">
            <span class="p-column-title">Pagamento</span>
            {{ element.dataPagamento | date:'dd/MM/yyyy'}}
          </td>
          <td class="col-valor-content">
            <span class="p-column-title">Valor</span>
            <span [ngStyle]="{color: element.tipo == 'DESPESA' ? 'red'  : 'blue'}">
              {{element.valor | currency:'R$' }}
            </span>
          </td>
          <td class="col-acoes">
            <span class="p-column-title">Editar/Excluir</span>
            <a pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil"></a>
            <button pButton pTooltip="Excluir" tooltipPosition="top" icon="pi pi-trash"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
