<div class="basic col-12 p-fluid">
  <app-openclose-button activeIcon="pi pi-times" inactiveIcon="pi pi-bars"
    (clicado)="toggleMenu()"></app-openclose-button>
  <button pButton icon="pi pi-refresh" (click)="authService.renovarAccessToken()"></button>
</div>
<div [hidden]="!menuAberto">
  <ul class="navbar-menu">

    <li class="item item-user">{{ authService.jwtPayload?.nome }}</li>
    <li *ngIf="authService.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" class="item" routerLinkActive="ativo"
      routerLink="/lancamentos">
      <a>Lançamentos</a>
    </li>
    <li *ngIf="authService.temPermissao('ROLE_PESQUISAR_PESSOA')" class="item" routerLinkActive="ativo"
      routerLink="/pessoas">
      <a>Pessoas</a>
    </li>
    <li class="item">
      <a (click)="authService.logout()" >{{ authService.jwtPayload ? 'Logout' :
        'Login' }}</a>
    </li>
  </ul>
</div>
