<div class="basic col-12 p-fluid">
  <app-openclose-button id="botao-menu" activeIcon="pi pi-times" inactiveIcon="pi pi-bars"
    (clicado)="toggleMenu()"></app-openclose-button>
  <button pButton icon="pi pi-refresh" (click)="authService.renovarAccessToken()"></button>
</div>
<div [hidden]="!menuAberto">
  <ul class="navbar-menu">

    <li class="item item-user">{{ authService.jwtPayload?.nome }}</li>
    <li routerLink="/dashboard" *ngIf="authService.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" class="item" routerLinkActive="ativo">
      <a>Dashboard</a>
    </li>
    <li routerLink="/lancamentos" *ngIf="authService.temPermissao('ROLE_PESQUISAR_LANCAMENTO')" class="item" routerLinkActive="ativo">
      <a>Lançamentos</a>
    </li>
    <li routerLink="/pessoas" *ngIf="authService.temPermissao('ROLE_PESQUISAR_PESSOA')" class="item" routerLinkActive="ativo">
      <a>Pessoas</a>
    </li>
    <!-- <li routerLink="/pessoas" *ngIf="authService.temPermissao('ROLE_PESQUISAR_PESSOA')" class="item" routerLinkActive="ativo">
      <a>Pessoas</a>
    </li> -->
    <li class="item">
      <a (click)="logout()" >Logout</a>
    </li>
  </ul>
</div>
