.tabela-border {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: .4em;
}

.col-valor-header {
	width: 120px;
	/* width: 1rem; */
}

.col-valor-content {
	text-align: right;
}

.col-data-header {
	width: 120px;
}

.col-data-content {
	text-align: center;
}

.col-acoes {
	width: 90px;
	text-align: center;

}

.col-acoes a {
	margin-right: .2em;
}