<div class="container">
  <form class="toda-table" #form="ngForm" (ngSubmit)="isEdicao() ? atualizar() : salvar()" [name]="'form-pessoa'">
    <div class="grid">
      <div class="col-12">
        <h1>{{ isEdicao() ? "Edição de " : "Nova " }} Pessoa</h1>
      </div>
    </div>

    <div class="p-fluid block md:flex">
      <div class="p-fluid col-12">
        <label for="nome">Nome</label>
        <input pInputText name="nome" #nome="ngModel" [(ngModel)]="pessoa.nome" maxlength="100" minlength="5" required
          type="text">
        <app-mensagem-erro [control]="nome" [touched]="true" mensagem="Campo obrigatório!"
          erro="required"></app-mensagem-erro>
        <app-mensagem-erro [control]="nome" [dirty]="true"
          mensagem="O campo deve ter no mínimo {{ nome.errors?.['minlength']?.requiredLength }} caracteres!"
          erro="minlength"></app-mensagem-erro>
      </div>
    </div>

    <div class="p-fluid block md:flex">
      <div class="p-fluid col-12 md:col-9">
        <label for="cidade">Cidade</label>
        <input pInputText name="cidade" #cidade="ngModel" [(ngModel)]="pessoa.endereco!.cidade"
          maxLength="130" required type="text">
        <app-mensagem-erro [control]="cidade" [touched]="true" mensagem="Campo obrigatório!"
          erro="required"></app-mensagem-erro>
      </div>
      <div class="p-fluid col-12 md:col-3">
        <label class="block" for="estado">Estado</label>
        <input pInputText #estado="ngModel" [(ngModel)]="pessoa.endereco!.estado" name="estado" required type="text">
        <app-mensagem-erro [control]="estado" [touched]="true" mensagem="Campo obrigatório!"
          erro="required"></app-mensagem-erro>
      </div>
    </div>

    <div class="p-fluid block md:flex">
      <div class="p-fluid col-12 md:col-9">
        <label for="logradouro">Logradouro</label>
        <input pInputText name="logradouro" #logradouro="ngModel" [(ngModel)]="pessoa.endereco!.logradouro"
          maxLength="130" required type="text">
        <app-mensagem-erro [control]="logradouro" [touched]="true" mensagem="Campo obrigatório!"
          erro="required"></app-mensagem-erro>
      </div>
      <div class="p-fluid col-12 md:col-3">
        <label class="block" for="bairro">Bairro</label>
        <input pInputText #bairro="ngModel" [(ngModel)]="pessoa.endereco!.bairro" name="bairro" required type="text">
        <app-mensagem-erro [control]="bairro" [touched]="true" mensagem="Campo obrigatório!"
          erro="required"></app-mensagem-erro>
      </div>
    </div>

    <div class="p-fluid block md:flex">
      <div class="p-fluid col-12 md:col-10">
        <label class="block" for="">Complemento</label>
        <input pInputText #complemento="ngModel" [(ngModel)]="pessoa.endereco!.complemento" name="complemento"
          minlength="5" type="text">
        <app-mensagem-erro [control]="complemento" [dirty]="true"
          mensagem="O campo deve ter no mínimo {{ complemento.errors?.['minlength']?.requiredLength }} caracteres!"
          erro="minlength"></app-mensagem-erro>
      </div>

      <div class="p-fluid col-12 md:col-2">
        <label class="block" for="">CEP</label>
        <p-inputMask #cep="ngModel" [(ngModel)]="pessoa.endereco!.cep" name="cep" [required]="true" mask="99.999-999"
          type="text"></p-inputMask>
        <app-mensagem-erro [control]="cep" [touched]="true" mensagem="Campo obrigatório!"
          erro="required"></app-mensagem-erro>
      </div>
    </div>

    <!-- TABELA MESTRE-DETALHE DE CONTATO -->
    <div class="col-12">
      <p-panel>
        <ng-template pTemplate="header">
          <span class="text-2xl text-600">Contatos</span>
        </ng-template>
        <ng-template pTemplate="icons">
          <button class="h-3rem w-4rem" (click)="abrirModalContato()" pButton icon="pi pi-plus" type="button"></button>
        </ng-template>
        <ng-template pTemplate="body">
          <div class="grid">
            <div class="col-12">
              <p-table [value]="pessoa.contatos || []" [responsive]="true">
                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="6">
                      Nenhum contato encontrado
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="col-1">ID</th>
                    <th class="col-4">Nome</th>
                    <th class="col-3">E-mail</th>
                    <th class="col-2">Telefone</th>
                    <th>Editar/Excluir</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-contato>
                  <tr>
                    <td>{{ contato.id }}</td>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.email }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td class="col-acoes">
                      <span class="p-column-title">Editar/Excluir</span>
                      <button class="mr-2" (click)="editarContato(contato)" pButton pTooltip="Editar"
                        tooltipPosition="top" icon="pi pi-pencil" type="button"></button>

                      <button pButton (click)="excluirContato(contato.id)" tooltipPosition="top"
                        icon="pi pi-trash" type="button"></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </ng-template>
      </p-panel>
    </div>
    <!-- /TABELA MESTRE-DETALHE DE CONTATO -->

    <p-dialog header="Novo Contato" [(visible)]="exbindoFormularioContato" [modal]="true">
      <form #formContato="ngForm" (ngSubmit)="editandoContato ? salvarContato(contato.id) : salvarContato()">
        <div class="grid col-12">
          <label for="nome">Nome</label>
          <input pInputText name="nome" #nomeContato="ngModel" [(ngModel)]="contato.nome" required type="text" >
        </div>
        <app-mensagem-erro [control]="nomeContato" [touched]="true" mensagem="Campo obrigatório!"
        erro="required"></app-mensagem-erro>
        <div class="grid col-12">
          <label for="email">E-mail</label>
          <input pInputText name="email" #emailContato="ngModel" [(ngModel)]="contato.email" required email type="text" >
        </div>
        <app-mensagem-erro [control]="emailContato" [touched]="true" mensagem="Campo obrigatório!"
        erro="required"></app-mensagem-erro>
        <app-mensagem-erro [control]="emailContato" mensagem="O e-mail não é válido!"
        erro="email"></app-mensagem-erro>
        <div class="grid col-12">
          <label for="telefone">Telefone</label>
          <p-inputMask mask="(99)99999-9999" name="telefone" #telefoneContato="ngModel" [(ngModel)]="contato.telefone" type="mask" pInputMask></p-inputMask>
        </div>
        <app-mensagem-erro [control]="telefoneContato" [touched]="true" mensagem="Campo obrigatório!"
        erro="required"></app-mensagem-erro>
        <button class="end-buttons" [disabled]="!formContato.valid" pButton type="submit">Salvar</button>
      </form>
    </p-dialog>

    <div class="col-12">
      <button class="end-buttons" pButton type="submit">Salvar</button>
      <button pButton class="" [routerLink]="['/pessoas']">Voltar para a pesquisa</button>
    </div>
  </form>
</div>
